body {
    background: white;
}

textarea {
    resize: none;
}

div.sidepanel {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
} 

div.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
}


button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
    border: 1px solid grey;
    border-radius: 5px; /* Add this line to make the button border corners round */
}

.controls {
    padding: 20px;
    display: flex;
}
.auth {
    margin: auto;
    margin-left: 80px;
}
.bookmark_button {
    padding: 10px;
    margin-left: 10px;
}
.debug {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
}

label.btn {
    padding: 0 0.50em;
    border: 1px solid #666;
    border-radius: 0.20em;
    background-color: #e3e3e3;
    font-size: 16px;
}
label.btn:hover {
    border: 2px solid #666;
    border-radius: 0.20em;
    background-color: #d4d4d4; 
}